# Ignore everything in the root directory
/*

# But don't ignore these specific directories
!/task/
!/project1/
!/project2/

# Don't ignore the .gitignore file itself
!.gitignore

# Ignore the following files
config.php
modelErrorCode.php
htdocs/index.html
assets/
forms/
project2/libs/sql/companydirectory.sql